 body {
    background-image: url("neon-hearts-pattern-valentine-s-day-pattern-red-hearts-on-dark-background-free-vector.jpg");
    background-size: cover;
 }
 
 .titulo1 {
    color: rgb(208, 56, 56);
 }
 .titulo2 {
    color:rgb(255, 255, 255);
 }
 .titulo3 {
    color: rgb(208, 56, 56);
 }
 .titulo4 {
    color: rgb(255, 255, 255);
 }

 .bonita {

    color:white;

 }
 .amor {

    color:white;

 }
 .hermosa {

    color:white;

 }
 .princes {

    color:white;

 }